/* line 4, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
h1, h2, h3, h4 {
  font-family: arial;
  /* Fall back font */
  font-weight: bold;
  font-family: header-font;
}

/* line 10, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
p {
  font-family: arial;
  /* Fall back font */
  font-family: 'Open Sans', sans-serif;
}

/* line 15, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
h1, h2, h3, h4 {
  color: #ff7e00;
}

/* line 19, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
a {
  text-decoration: none;
}

/* line 23, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
a:link, a:visited {
  color: #ff7e00;
}

/* line 27, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
button
#topbar {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  background-color: #dddddd;
}

/* line 38, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
#logo {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 1vw;
  transform: translate(0, -50%);
}

/* line 46, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
.box {
  position: relative;
  width: 50vw;
  left: 25vw;
  background-color: #dddddd;
  padding: 10px;
}

/* line 54, /Users/andrewlor/NailedIt/app/assets/stylesheets/main.scss */
.space {
  height: 50px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
