<div class='box'>
	<a href='/record/new'><button style="width: 100%">Create a new Record!</button></a>
</div>

<div class='space'></div>

<% @records.each do |record| %>
	<div class='box' >
		<a href='/record/<%= record.id %>'>
			<h2><%= record.title %></h2>
			<h3>By <%= User.find(record.user_id).username %></h3>
			<p><%= record.description %></p>
		</a>
	</div>
<% end %>