<div class='box'>
	<a href='/record/new'><button style="width: 100%">new</button></a>
</div>
<% @records.each do |record| %>
	<a href='/record/<%= record.id %>'>
		<div class='box' >
			<h3><%= record.title %></h3>
			<p><%= User.find(record.user_id).username %></p>
			<p><%= record.description %></p>
		</div>
	</a>
<% end %>