<div class="box">
	<%= form_tag("/record", method: "post") do %>
	  <%= text_field_tag(:title, '', placeholder: 'Enter a title for your record') %><br/>
	  <%= text_area_tag(:desc, '',placeholder: 'Ender a full description of your record, including any nessary details and rules.') %><br/>
	  <%= submit_tag("Create") %>
	<% end %>
</div>