$header-font: 'Bungee', cursive;
$text-font: 'Montserrat', sans-serif;
$primary-color: #ff7e00;
$back-color: #eaeaea;

/* Positional Classes to inherit from */

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

/* General HTML element override */

body {
	background-color: $back-color;
}

h1, h2, h3, h4 {
 	font-family: arial; /* Fall back font */
	font-weight: bold;
	font-family: $header-font;
	color: #ff7e00;
}

p {
	font-family: arial; /* Fall back font */
	font-family: $text-font;
	color: #ff7e00;
}

a {
	text-decoration: none;
}

a:link, a:visited {
  color: #ff7e00;
}

button {
	-webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;  
	border-radius: 0;
	font-family: $header-font;
	padding: 5px;
	color: white;
	background-color: orange;
	border: none;
	font-size: 1em;
}

button:focus {
	outline: none;
}

input[type=submit] {
	@extend button;
	margin: 10px;
}

input[type=button] {
	@extend button;
	margin: 10px;
}

input:focus {
	outline: none;
}

input[type=text] {
	border: none;
	border-radius: 0;
	margin: 10px;
	width: calc(100% - 10px);
	font-family: $text-font;
	font-size: 1em;
}

input[type=password] {
	@extend input[type=text];
}

textarea {
	margin: 10px;
	font-family: $text-font;
	border: none;
	width: calc(100% - 10px);
	height: 200px;
	font-size: 0.75em;
	resize: none;
}

textarea:focus {
	outline: none;
}

video {
	width: 100%;
}

/* General Classes */

.box {
	@extend .horizontal-center;
	position: relative;
	width: 50vw;
	padding: 10px;
	background-color: white;
}

.space {
	height: 50px;
}

.warning {
	color: red;
}

/* Specific element ids */

#topbar {
	position: absolute;
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;
	background-color: white;
}

#logo {
	@extend .vertical-center;
	margin: 0;
	left: 25px;
	background-color: white;
	z-index: 1;
}

#current_user {
	@extend .vertical-center;
	right: 150px;
	margin: 0;
}

#logout_button {
	@extend .vertical-center;
	right: 25px;
}

/* Mobile Optimize */

@media screen and (max-width: 1000px) {
	p { font-size: 48px; } 
	h1 { font-size: 6em; }
	h2 { font-size: 3em; }
	h3 { font-size: 2.34em; }
	h4 { font-size: 2.24em; }
	input[type='text'], input[type='password'] { 
		font-size: 48px;
		left: 0;
	}
	textarea {
		font-size: 32px;
	}
	input[type='submit'] {
		padding: 10px;
	}
	button {
		font-size: 48px;
	}

  .box {
  	width: 100vw;
  }

  #topbar {
  	height: 150px;
  }

  #current_user {
  	visibility: hidden;
  }

  .space {
  	height: 75px;
  }
}